* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  vertical-align: baseline;
  font-size: 100%;
}

html {
  font-family: 'Poppins', sans-serif;
}

body {
  width: 100%;
}

.wrapper {
  width: 100%;
  margin: 0 auto;
}

.video-container{
  position: relative;
}

video {
  height: auto;
  vertical-align: middle;
  width: 100%;
}

h2 {
  color: white;
  font-family: 'Nobile', sans-serif;
  font-size: 9vw;
  text-align: center;
}

.section {
  width: 90%;
  margin: 0 auto;
}

h1 {
  color: #000;
  font-size: 48px;
}

p {
  color: #000;
  font-size: 16px;
  font-weight: 300;
}

/* Navbar */


nav {
  background: rgba(0,0,0,0);
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  height: 70px;
  line-height: 70px;
}

nav a img {
  width: 60px;
  height: 60px;
}

nav ul:nth-child(2) {
  float: right;
}

nav ul {
  color: #fff;
  list-style-type: none;
  padding-right: 25px;
}

nav ul li {
  display: inline;
  margin: 10px;
}

nav ul a {
  text-decoration: none;
  color: white;
}


/* projects */

.projects, .tech-stack {
  width: 100%;
}

.projects img {
  margin: 1%;
  width: 25%;
}

/* tech-stack */

.tech-stack img {
  margin: 1%;
  width: 15%;
}

/* About-Me-Header */

.about-me-header, .tech-stack, .projects {
  margin: 130px 0 80px 40px;
}


/* Footer */

footer p {
  text-align: center;
  color: grey;
  margin: 60px auto;
}


/* Responsiveness */

@media only screen and (max-width: 991px) {

  .projects img {
    margin: 2%;
    width: 60%;
  }
  .about-me-header, .projects, .tech-stack {
    margin: 130px 0 40px 12px;
    text-align: center;
  }
  .about-me-header, .projects, .tech-stack,  h1 {
    font-size: 36px;
  }
  .about-me-header  p {
    font-size: 12px;
    width: 90%;
  }

}
