* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  vertical-align: baseline;
  font-size: 100%;
}

html {
  font-family: 'Poppins', sans-serif;
}

body {
  width: 100%;
}

.wrapper {
  width: 100%;
  margin: 0 auto;
}

.video-container{
  position: relative;
}

video {
  height: auto;
  vertical-align: middle;
  width: 100%;
}

h2 {
  color: white;
  font-family: 'Nobile', sans-serif;
  font-size: 9vw;
  text-align: center;
}

.section {
  width: 90%;
  margin: 0 auto;
}

h1 {
  color: #000;
  font-size: 48px;
}

p {
  color: #000;
  font-size: 16px;
  font-weight: 300;
}

/* Navbar */


nav {
  background: rgba(0,0,0,0);
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  height: 70px;
  line-height: 70px;
}

nav a img {
  width: 60px;
  height: 60px;
}

nav ul:nth-child(2) {
  float: right;
}

nav ul {
  color: #fff;
  list-style-type: none;
  padding-right: 25px;
}

nav ul li {
  display: inline;
  margin: 10px;
}

nav ul a {
  text-decoration: none;
  color: white;
}


/* projects */

.projects, .tech-stack {
  width: 100%;
  align-items: center;
  justify-content: center;
}

.projects img {
  margin: 1%;
  width: 40%;
  height: auto;
  border-radius: 2px 34px;
  box-shadow: var(--box-shadow);
  animation: popInImg 700ms var(--acc-back) 1 forwards;
  animation-delay: var(--delay-base);
  /* opacity: 0; */
  transform: skewY(1deg);
}

figure {
  position: relative;
  width: var(--fig-width);
  height: var(--fig-height);
  transition: transform 600ms var(--acc-back);
}

figure:hover {
  transform: scale(1.05) skewY(-1deg);
}

figcaption {
  transition: transform 600ms var(--acc-back), opacity 100ms ease-in;
  height: inherit;
  position: absolute;
  top: 0; left; 0;
  width: 100%;
  height: 100%;
}

figure:hover figcaption {
  opacity: 0;
  transform: scale(.91);
}

@keyframes popInImg {
  0%{
    transform: skewY(5deg) scaleX(.89) scaleY(.89);
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

figcaption span {
  position: absolute;
  display: block;
  background: var(--grad-bright);
  -webkit-background-clip: text;
  -webkit-text-fill-color: black;
  font-family: var(--font-sans-serif);
  transform: skewY(-13deg);
  text-shadow: var(--box-shadow);
  animation: popIn 600ms var(--acc-back) 1 forwards;
  /* opacity: 0; */
}

@keyframes popIn {
  0%,13%{
    transform: scaleX(.89) scaleY(.75);
    opacity: 0;
  }
  100%{
    transform: skewY(-13deg);
    opacity: 1;
  }
}

figcaption span:nth-of-type(1) {
  top: -44px; left: 44px;
  font-size: 21px;
  animation-delay: calc(var(--delay-base) + 1 * var(--delay-added));
}

figcaption span:nth-of-type(2) {
  top: -34px; left: -21px;
  font-size: 89px;
  font-family: var(--font-display);
  animation-delay: calc(var(--delay-base) + 2 * var(--delay-added));
}

figcaption span:nth-of-type(3) {
  bottom: -38px; right: -21px;
  font-size: 89px;
  font-family: var(--font-display);
  animation-delay: calc(var(--delay-base) + 3 * var(--delay-added));
}

figcaption span:nth-of-type(4) {
  bottom: -50px; right: -21px;
  font-size: 21px;
  animation-delay: calc(var(--delay-base) + 4 * var(--delay-added));
}


/* tech-stack */

.tech-stack img {
  margin: 1%;
  width: 15%;
}

/* About-Me-Header */

.about-me-header, .tech-stack, .projects {
  margin: 130px 0 80px 40px;
}


/* Footer */

footer p {
  text-align: center;
  color: grey;
  margin: 60px auto;
}


/* Responsiveness */

@media only screen and (max-width: 991px) {

  .projects img {
    margin: 2%;
    width: 90%;
  }
  .about-me-header, .projects, .tech-stack {
    margin: 130px 0 40px 12px;
    text-align: center;
  }
  .about-me-header, .projects, .tech-stack,  h1 {
    font-size: 36px;
  }
  .about-me-header  p {
    font-size: 12px;
    width: 90%;
  }
  figure {
    max-width: var(--fig-width);
    max-height: var(--fig-height);
    width: auto;
    height: auto;
  }

  figcaption span:nth-of-type(1),
  figcaption span:nth-of-type(4){
    font-size: 14px;
  }

  figcaption span:nth-of-type(2),
  figcaption span:nth-of-type(3){
    font-size: 70px;
  }

  figcaption span:nth-of-type(4){
    bottom: -44px;
  }

}
