* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  vertical-align: baseline;
  font-size: 100%;
}

html {
  font-family: 'Poppins', sans-serif;
}

body {
  width: 100%;
  /* background: #0E0E0E; */
}

.wrapper {
  width: 90%;
  margin: 0 auto;
}

.section {
  width: 90%;
  margin: 0 auto;
  background: #0E0E0E;
}

/* .section-2 {
  width: 90%;
  margin: 0 auto;
  background: black;
}

.section-3 {
  width: 90%;
  margin: 0 auto;
  background: purple;
} */

.navbar::after {
  content: "";
  clear: both;
  display: table;
}

h1 {
  color: #fff;
  font-size: 48px;
}

p {
  color: #fff;
  font-size: 16px;
  font-weight: 300;
}

/* Navbar */


nav {
  height: 70px;
  line-height: 70px;
}

nav a img {
  vertical-align: middle;
  width: 30px;
  height: 30px;
}

nav a:nth-child(2) {
  float: right;
}

/* header */


header {
  margin: 100px 0 200px 120px;
}

header p {
  width: 60%;
  margin-top: 10px;
}

/* projects */


.projects {
  text-align: center;
  width: 100%;
}

.projects img {
  margin: 1%;
  width: 45%;
}

/* About-Me-Header */

.about-me-header {
  margin: 130px 0 80px 40px;
}


/* Footer */

footer p {
  text-align: center;
  color: grey;
  margin: 60px auto;
}


/* Responsiveness */

@media only screen and (max-width: 991px) {
  header {
    text-align: left;
    margin: 100px 0 100px 30px;
  }
  header h1 {
    font-size: 36px;
  }
  header p {
    font-size: 12px;
    width: 90%;
  }
  .projects img {
    margin: 2%;
    width: 90%;
  }
  .about-me-header {
    margin: 130px 0 40px 12px;
  }
  .about-me-header  h1 {
    font-size: 36px;
  }
  .about-me-header  p {
    font-size: 12px;
    width: 90%;
  }

}
